
</br>
</br>
<div id="users"> 
 
<div class="span1">
				<p> {{ user['_id'] }}</p> 
			</div>	
			<div class="span1">
				<p> {{ user['email'] }}</p> 
			</div>
			<div class="span1">
				<p> {{ user['first-name']}}</p> 
			</div>
			<div class="span1">
				<p> {{ user['last-name']}}</p> 
			</div>

			

<div class="span1">
	<form action="/edit" method="get">
		<input type="hidden" name="user_id"  value="{{ user['_id'] }}"/>
		<input type="hidden" name="branch" value="{{ user['branch'] }}"/>
		<input type="submit" class="btn" value="Edit" />
	</form>	
</div>
<div class="span1">	 
	<form action="/delete" method="get">
		<input type="submit" class="btn" value="Delete" />
		<input type="hidden" name="user_id"  value="{{ user['_id'] }}"/>
		<input type="hidden" name="branch" value="{{ user['branch'] }}"/>

	</form>	
</div>	
			

</div>	
</br>			