<div id="benefits"> 

<div class="span2">
				<p> {{ user['_id'] }}</p> 
			</div>	
			<div class="span2">
				<p> {{ user['email'] }}</p> 
			</div>
			<div class="span2">
				<p> {{ user['first-name']}}</p> 
			</div>
			<div class="span2">
				<p> {{ user['last-name']}}</p> 
			</div>

			

<div class="span2">
				 <a href="/edit" role="button" class="btn "
			data-toggle="modal"> Edit </a> 
			<a href="/delete" role="button" class="btn"
			data-toggle="modal"> Delete</a> 
			</div>

</div>				